/********************* 폰트 초기화 *************************/
/********************* Montserrat ***********************/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('./fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('./fonts/Montserrat/Montserrat-Black.ttf');
}
/********************* Montserrat ***********************/

/******************** Noto Sans KR **********************/
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Black.otf');
}
/******************** Noto Sans KR **********************/
// def. pixel size: 16
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Noto Sans KR';

    a {
        background: transparent;
        text-decoration: none;
        color: inherit;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 2.75rem;
        word-break: keep-all;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.625rem;
        word-break: keep-all;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        word-break: keep-all;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        word-break: keep-all;
    }

    button {
        &.normal {
            background-color: #13e2a1;
            border: none;
            border-radius: 115px;
            color: white;
            cursor: pointer;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            opacity: 0.8;
            outline: none;
            width: 144px;
            height: 40px;

            &.in-section {
                height: 48px;
            }

            &.no-op {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    & main {
        padding-top: 80px;
        // padding-left: 16px;
        // padding-right: 16px;
    }

    section.root {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: fit-content;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 7vh;
        padding-bottom: 7vh;

        & div.wrapper {
            max-width: 1024px;
            width: 100%;
            min-height: inherit;
            margin: 0 auto;

            & .title-root {
                & p.title-tags {
                    color: #13e2a1;
                    font-size: 0.75rem;
                    font-weight: 600;
                    line-height: 1rem;
                    margin: 0;

                    &.lighter {
                        color: #2cffbd;
                    }
                }

                & h1.title {
                    display: flex;
                    color: #000000;
                    margin: 0.75rem 0;

                    &.mobile {
                        display: none;
                    }

                    & .left-border {
                        border-left: 2px solid #000000;
                        height: 2rem;
                        margin: 0.375rem 0.75rem 0.375rem -1rem;
                    }
                }

                & h4.sub-text {
                    margin-top: -2px;
                }

                & .title-step-contents {
                    padding-top: 25px;
                }
            }

            & .step-title-root {
                margin-left: 1rem;
            }
        }

        & div.no-wrapper {
            width: 100%;
            min-height: inherit;
            margin: 0 auto;
        }
    }

    #main_section_banner_matrios {
        margin-top: 64px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #main_section_banner_free_trial {
        background-image: url('/bg_images/banner_free_trial_bg.png');
        margin-top: 64px;
        padding-top: 0;
        padding-bottom: 0;
    }

    @media all and (max-width: 768px) {
        h1 {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        h2 {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        section.root {
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 48px;
            padding-bottom: 48px;

            & div.wrapper {
                & .title-root {
                    & p.title-tags {
                        margin-bottom: 1rem;
                    }

                    & h1.title {
                        display: none;

                        &.mobile {
                            display: flex;
                            font-size: 1.75rem;
                            line-height: 2.25rem;
                        }

                        & .left-border {
                            border-left: 3px solid black;
                            height: 1.5rem;
                            margin: 0.375rem 1.75rem 0.375rem -2rem;
                        }
                    }

                    & h4.sub-text {
                        margin-top: 1.5rem;
                    }

                    & .title-step-contents {
                        padding-top: 0;
                    }
                }

                & .step-title-root {
                    margin-left: 0rem;
                }
            }
        }

        #main_section_banner_matrios {
            margin-top: 32px;
        }

        #main_section_banner_free_trial {
            margin-top: 32px;
        }
    }
}
