$primaryColor: #13e2a1;
$secondaryColor: #3b168a;
$greenTintGrey: #f7f9f8;
$textFooterInfo: #8a8a8a;
$textFooterMenu: #3a3a3a;

footer {
    background-color: #f7f9f8;
    color: $textFooterInfo;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 180px;
    font-size: 12px;

    & .contents {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1024px;
        margin-left: 16px;
        margin-right: 16px;

        & .left {
            & .menus {
                display: flex;
                margin: 16px;
                margin-left: 0;

                & .item {
                    & a {
                        text-decoration: none;
                        color: $textFooterMenu;
                        line-height: 1.125rem;
                    }

                    & + .item {
                        margin-left: 48px;
                    }
                }
            }

            & .infos {
                line-height: 1.25rem;
                margin: 16px;
                margin-left: 0;
                word-break: keep-all;

                & a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        & .right {
            & .logo {
                margin: 16px;
                margin-right: 0;

                & img {
                    height: 36px;
                    filter: brightness(0.4);
                }
            }

            & .copyright {
                margin: 16px;
                margin-right: 0;
            }
        }
    }

    @media all and (max-width: 768px) {
        & {
            & .contents {
                flex-direction: column;

                & .left {
                    & .menus {
                        margin-left: 16px;
                    }

                    & .infos {
                        margin-left: 16px;
                    }
                }

                & .right {
                    & .logo {
                        display: none;
                    }

                    & .copyright {
                        margin-top: -4px;
                    }
                }
            }
        }
    }

    @media all and (min-width: 663px) and (max-width: 991px) {
        & {
            & .contents {
                max-width: 800px;
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    }
}
