#main_section_5 {
    padding-top: 9vh;
    padding-bottom: 9vh;

    & .wrapper {
        & h1.title {
        }

        & .subs-root {
            & .step-card {
                &.container {
                    display: flex;
                    margin-top: 64px;
                }
            }
        }
    }

    .step-card {
        &.root {
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 8px;
            padding: 36px 16px;
            width: 100%;

            & .icon-container {
                margin: 4px 0;
            }

            & .title-container {
                & h4.title-text {
                    font-weight: 600;
                    margin-top: 0.5rem;
                    margin-bottom: 0.25rem;
                    word-break: keep-all;
                }
            }

            & .text-container {
                & p.text {
                    font-size: 0.875rem;
                    margin: 0;
                    max-width: 11rem;
                    word-break: keep-all;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 1rem solid transparent;
                border-left: 0.9rem solid #ffffff;
                border-top: 1rem solid transparent;
                clear: both;
                left: 0;
                top: 1.5rem;
            }

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 1rem solid transparent;
                border-left: 0.9rem solid #d9faf0;
                border-top: 1rem solid transparent;
                clear: both;
                right: -0.9rem;
                top: 1.5rem;
                z-index: 1;
            }
        }

        &.step1 {
            &.root {
                background-color: #d9faf0;

                &::before {
                    content: none;
                }

                &::after {
                    border-left-color: #d9faf0;
                }
            }
        }

        &.step2 {
            &.root {
                background-color: #aaf5dd;

                &::after {
                    border-left-color: #aaf5dd;
                }
            }
        }

        &.step3 {
            &.root {
                background-color: #00e099;
                color: #ffffff;

                &::after {
                    border-left-color: #00e099;
                }
            }
        }

        &.step4 {
            &.root {
                background-color: #3b168a;
                color: #ffffff;

                &::after {
                    content: none;
                }
            }
        }

        & + .step-card {
            margin-left: 0.375rem;
        }
    }

    @media all and (max-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;

        & .wrapper {
            & .subs-root {
                & .step-card {
                    &.container {
                        margin-top: 32px;
                    }
                }
            }
        }

        .step-card {
            flex-direction: column;

            &.root {
                flex-direction: row;
                position: relative;
                border-radius: 8px;
                padding: 24px 16px;
                width: initial;

                & .contents {
                    margin-left: 1.5rem;

                    & .title-container {
                        & h4.title-text {
                            font-size: 1.125rem;
                        }
                    }

                    & .text-container {
                        & p.text {
                            max-width: initial;
                            word-break: keep-all;
                        }
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: none;
                    border-right: 1rem solid transparent;
                    border-left: 1rem solid transparent;
                    border-top: 0.9rem solid #ffffff;
                    clear: both;
                    left: 2rem;
                    top: 0;
                    right: unset;
                    bottom: unset;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: none;
                    border-right: 1rem solid transparent;
                    border-left: 1rem solid transparent;
                    border-top: 0.9rem solid #d9faf0;
                    clear: both;
                    left: 2em;
                    bottom: -0.9rem;
                    right: unset;
                    top: unset;
                    z-index: 1;
                }
            }

            &.step1 {
                &.root {
                    &::before {
                        content: none;
                    }

                    &::after {
                        border-top-color: #d9faf0;
                        border-left-color: transparent;
                    }
                }
            }

            &.step2 {
                &.root {
                    &::after {
                        border-top-color: #aaf5dd;
                        border-left-color: transparent;
                    }
                }
            }

            &.step3 {
                &.root {
                    &::after {
                        border-top-color: #00e099;
                        border-left-color: transparent;
                    }
                }
            }

            &.step4 {
                &.root {
                    &::after {
                        border-left-color: transparent;
                        content: none;
                    }
                }
            }

            & + .step-card {
                margin-top: 0.5rem;
                margin-left: initial;
            }
        }
    }
}
