#main_section_4 {
    padding-top: 9vh;
    padding-bottom: 9vh;

    & .wrapper {
        & h1.title {
        }

        & .subs-root {
            display: flex;
            margin-top: 64px;
            width: 100%;

            & .container {
                &.left-top {
                    margin-right: 16px;
                    width: 100%;
                }

                &.right-bottom {
                    margin-left: 16px;
                    width: 100%;
                }
            }
        }
    }

    .intro-card {
        &.root {
            border-radius: 8px;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
            padding: 32px 40px;
            min-height: 174px;

            & .title-container {
                & h1.title-text {
                    // font-size: 2.5rem;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }

            & .item-container {
                & .item {
                    display: flex;

                    & .head-symbol {
                        display: flex;
                        margin-top: 2px;
                        margin-right: 8px;

                        & img {
                            height: 1.125rem;
                        }
                    }

                    & h4 {
                        margin: 0;

                        & span {
                            font-weight: 900;
                        }
                    }

                    & + .item {
                        margin-top: 8px;
                    }
                }
            }
        }

        &.primary {
            &.root {
                background-color: #2cffbd;
            }

            & h1.title-text {
                color: #3b168a;
            }

            & h4.item-text {
                color: #3b168a;
            }
        }

        &.secondary {
            &.root {
                background-color: #3b168a;
            }

            & h1.title-text {
                color: #13e2a1;
            }

            & h4.item-text {
                color: #f7f9fc;
            }
        }
    }

    @media all and (max-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;

        & .wrapper {
            & .subs-root {
                flex-direction: column;
                margin-top: 32px;

                & .container {
                    &.left-top {
                        margin: 0;
                    }

                    &.right-bottom {
                        margin: 0;
                        margin-top: 12px;
                    }
                }
            }
        }

        .intro-card {
            &.root {
                border-radius: 8px;
                box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
                padding: 16px 28px;

                & .title-container {
                    & h1.title-text {
                        // font-size: 1.75rem;
                        margin-top: 0;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
