#main_section_1 {
    background-image: url('/bg_images/frame_1_bg.svg');
    padding-top: 12vh;
    padding-bottom: 12vh;

    & .wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;

        & .left-and-top {
            display: flex;
            align-items: center;
            width: 100%;

            & .contents {
                & h1,
                & h4 {
                    margin: 1.2rem 0;
                }
            }
        }

        & .right-and-bottom {
            // display: flex;
            width: 100%;

            & img {
                width: 100%;
            }
        }
    }

    @media all and (max-width: 768px) {
        background-image: url('/bg_images/frame_1_bg_mobile.svg');
        min-height: initial;
        padding-top: 16px;
        padding-bottom: 16px;

        & .wrapper {
            flex-direction: column;

            & .left-and-top {
                & button {
                    margin-top: 16px;
                }
            }

            & .right-and-bottom {
                & img {
                    padding: 24px;
                    width: calc(100% - 48px);
                }
            }
        }
    }
}
