$fistColor: #13e2a1;
$secondColor: #3b168a;

#price_section_1 {
    background-color: #f7f9fc;

    & .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        width: 100%;
        min-height: inherit;
        margin: 50px auto;

        & .price-badge {
            cursor: pointer;
            width: 510px;
            padding: 0.5rem 1.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 11px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
            transition: all 0.3s;
            & .badge-left {
                display: flex;
                align-items: center;

                & p {
                    padding-left: 1rem;
                    font-size: 0.875rem;
                    font-weight: 600;
                }
            }
            & .badge-right {
                display: flex;
                align-items: center;

                & p {
                    padding-right: 1rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: $fistColor;
                }
            }
        }

        & .price-badge:hover {
            & .badge-right {
                transition: all 0.5s;
                margin-right: -5px;
            }
        }

        & .price-title {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .title-left {
                display: flex;
                flex-direction: column;

                & h2 {
                    color: black;
                    margin: 0 0 1rem 0;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.25;
                }
                & p {
                    margin: 0;
                    color: #848199;
                    font-size: 1rem;
                    font-weight: 400;
                }

                @media (min-width: 769px) and (max-width: 992px) {
                    & span {
                        display: block;
                    }
                }
            }
            & .title-right {
                display: flex;

                & .btn-left {
                    border-radius: 8px 4px 4px 8px;
                }
                & .btn-right {
                    border-radius: 4px 8px 8px 4px;
                }
            }
        }

        & .price-table {
            margin-top: 85px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            & .col {
                font-size: 1rem;
                font-weight: 500;
                color: #575555;
                padding: 1rem 0;
            }

            & .col:nth-child(n + 2):hover {
                transition: all 0.3s;
                border-radius: 11px;
                background: #ffffff;
                box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
            }
            & .name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            & .child {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            & .table-header {
                height: 140px;
                margin-bottom: 20px;

                & h2 {
                    font-size: 1.75rem;
                    color: $secondColor;
                    font-weight: 600;
                    margin: 0;
                }
                & .table-subTitle-mobile {
                    display: none;
                }
                & .table-subTitle {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    color: black;
                    font-weight: 600;
                    font-size: 0.75rem;

                    & span {
                        margin: 0.5rem 0 0 0;
                        color: #b4a9a9;
                        font-weight: 500;
                    }
                    & > div {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            & .table-line {
                height: 50px;

                & .table-cell {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .table-desc-mobile {
                    display: none;
                }
            }
        }

        & .price-footer {
            margin-top: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & .price-button {
                background-color: $fistColor;
                color: white;
                width: 280px;
                font-size: 1rem;
                padding: 1rem 0;
                border-radius: 11px;
            }
        }

        @media (min-width: 0px) and (max-width: 768px) {
            & {
                margin: 15px auto;
                align-items: center;
                max-width: 480px;

                & .price-badge {
                    max-width: 550px;
                    width: 100%;
                    box-sizing: border-box;
                    & .badge-left {
                        width: 85%;
                    }
                    & .badge-right {
                        & > p {
                            display: none;
                        }
                    }
                }
                & .price-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    & .title-left {
                        margin-bottom: 2rem;
                    }
                    & .title-right {
                        width: 100%;
                    }
                }
                & .price-table {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    & .web {
                        display: none;
                    }

                    & .col {
                        border-radius: 11px;
                        background: #ffffff;
                        box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
                        width: 100%;
                        margin-bottom: 30px;
                        & .table-header {
                            height: auto;
                            & .table-subTitle {
                                display: none;
                            }
                            & .table-subTitle-mobile {
                                display: flex;
                                align-items: flex-end;
                                justify-content: center;
                                color: black;
                                font-weight: 600;
                                font-size: 0.75rem;
                                margin-top: 1rem;

                                & span {
                                    margin: 0 0 0 0.5rem;
                                    color: #b4a9a9;
                                    font-weight: 500;
                                }
                            }
                        }

                        & .table-line {
                            flex-direction: row;
                            & .table-desc-mobile {
                                display: inline;
                                margin-left: 1rem;
                            }

                            & .table-cell {
                                color: $secondColor;
                            }
                        }
                    }
                }
                & .price-footer {
                    & .price-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
