$fistColor: #13e2a1;
$secondColor: #3b168a;

#price_section_header {
    background-image: url('/bg_images/frame_price.png');

    & .wrapper {
        padding: 80px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        & .header-text {
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 35px;
        }
        & .desc-text {
            text-align: center;
            font-size: 1.125rem;
            font-weight: 400;
            margin-bottom: 35px;
        }
        & .header-btn {
            text-align: center;

            & > button {
                color: white;
                padding: 14px 25px;
                background-color: #3b168a;
                border-radius: 11px;
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
                font-size: 0.94rem;
                font-weight: 500;
            }
        }
    }
}
#price_section_1 {
    background-color: #f7f9fc;

    & #color-Free {
        color: #13e2a1;
    }
    & #color-Standard {
        color: #6d2afa;
    }
    & #color-Premium {
        color: #3b168a;
    }

    & .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        width: 100%;
        min-height: inherit;
        margin: 0 auto;

        & .price-title {
            width: 100%;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .title-right {
                display: flex;
                font-size: 1.125rem;
                font-weight: 600;
                color: #575555;

                & div + div {
                    margin-left: 20px;
                }
            }
        }

        & .price-menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 15px;
            margin-top: 100px;

            & .col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding: 25px 25px 25px 0;
                box-sizing: border-box;
                & .menu-header {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 14px;
                }
                & .menu-desc {
                    color: #575555;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 24px;
                }
                & .price-button {
                    background-color: $fistColor;
                    color: white;
                    width: 100%;
                    font-size: 1rem;
                    padding: 1rem 0;
                    border-radius: 11px;
                    box-shadow: 0px 4px 4px #0000001c;
                    margin-top: 20px;
                }
            }

            & .col-box {
                background-color: white;
                box-shadow: 7px 14px 23px rgba(23, 18, 63, 0.120028);
                border-radius: 11px;
                padding: 20px 18px;
                box-sizing: border-box;
                cursor: pointer;

                & .menu-box-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 28px;

                    & .header {
                        font-size: 1.75rem;
                        font-weight: 600;
                    }
                }
                & .menu-box-price {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 18px;

                    & .pre-price {
                        width: fit-content;
                        border-bottom: 1px solid #707070;
                        height: 12px;
                        margin-bottom: 15px;

                        & .text {
                            color: #707070;
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                        & > span {
                            font-size: 0.75rem;
                            font-weight: 400;
                        }
                    }
                    & .current-price {
                        font-size: 1.5rem;
                        font-weight: 500;

                        & > span {
                            font-size: 0.75rem;
                            font-weight: 400;
                        }
                    }
                }
                & .menu-box-desc {
                    font-size: 1rem;
                    font-weight: 400;
                    color: #575555;
                    line-height: 24px;
                }
            }
        }

        & .price-table {
            margin-top: 100px;
            width: 100%;
            display: grid;
            grid-template-columns: 1.35fr 1fr 1fr 1fr;
            & .col-desc {
                font-size: 1rem;
                font-weight: 400;
                color: #575555;

                display: flex;
                flex-direction: column;
            }
            & .col {
                font-size: 1rem;
                font-weight: 400;
                color: #828282;

                display: flex;
                flex-direction: column;
            }

            & .row-left-title {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 70px;

                color: #000000;
                font-weight: 600;
                font-size: 1.5rem;
            }
            & .row-left {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            & .row-hr {
                border-top: 0.9px solid #aeabab59;
                width: 100%;
                margin: 33px 0;
            }
            & .row-title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;

                color: #000000;
                font-weight: 600;
                font-size: 1.5rem;
            }
            & .row {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @media (min-width: 0px) and (max-width: 768px) {
            & {
                margin: 15px auto;
                align-items: center;
                max-width: 480px;

                & .price-title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    & .title-left {
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
                & .price-table {
                    display: none;
                }
                & .price-menu {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;

                    & .col {
                        margin: 0 0 20px 0;
                    }
                    & .col-box + .col-box {
                        margin: 20px 0 0 0;
                    }
                }
            }
        }
    }
}
