#service_section_4 {
    padding-top: 9vh;
    padding-bottom: 9vh;

    & .subs-root {
        margin-top: 2rem;

        & .faq-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        & svg {
        }
    }
    @media all and (max-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
